

:root{
   --main-color:#DA2C32;
   --light-color:#666;
   --light-bg:#eee;
   --white:#fff;
   --black:#303030;
   --border:.1rem solid var(--light-color);
   --box-shodow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
   font-family: 'Montserrat', sans-serif;
   margin: 0; padding: 0;
   box-sizing: border-box;
   outline: none; border: none;
   text-decoration: none;
}


html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 10rem;
}

body{
   background-color: var(--light-bg);
}

section{
   padding: 3rem 2rem;
   max-width: 1200px;
   margin: 0 auto;
}

.heading{
   text-align: center;
   padding-bottom: 2.5rem;
   font-size: 3rem;
   color: var(--black);
   text-transform: capitalize;
}

.btn,
.inline-btn{
   margin-top: 1rem;
   padding: 1rem 3rem;
   background-color: var(--main-color);
   color: var(--white);
   cursor: pointer;
   text-align: center;
   font-size: 1.8rem;
   text-transform: capitalize;
}

.btn:hover,
.inline-btn:hover{
   background-color: var(--black);
}

.btn{
   display: block;
   width: 100%;
}

.inline-btn{
   display: inline-block;
}

.header{
   position: sticky;
   top: 0; left: 0; right: 0;
   z-index: 1000;
   box-shadow: var(--box-shodow);
}


#menu-btn{
   font-size: 2.5rem;
   color: var(--black);
   display: none;
}


/* navbar */
.header .navbar.nav-1 .flex{
   padding-top: 1rem;
   padding-bottom: 1rem;
}

.header .navbar.nav-2 .flex{
   padding-top: 0;
   padding-bottom: 0;
}

.header .navbar.nav-1{
   background-color: var(--black);
}

.header .navbar.nav-2{
   background-color: var(--white);
}

.header .navbar .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header .navbar .flex .logo{
   font-size: 2.2rem;
   color: var(--white); 
}

.header .navbar .flex .logo i{
   color: var(--main-color);
   margin-right: 1rem;
}

.header .navbar .flex ul{
   list-style: none;
}

.header .navbar .flex ul li{
   float: left;
   position: relative;
}

.header .navbar .flex ul li a{
   display: inline-block;
   padding: 1.2rem 2rem;
   font-size: 1.8rem;
   color: var(--black);
   background-color: var(--white);
}

.header .navbar .flex ul li a:hover{
   background-color: var(--main-color);
   color: var(--white);
}

.header .navbar .flex ul li a i{
   margin-left: 1rem;
}

.header .navbar .flex ul li ul{
   position: absolute;
   width: 17rem;
   left: 0;
}

.header .navbar .flex ul li ul li{
   width: 100%;
}

.header .navbar .flex ul li ul li a{
   display: none;
}

.header .navbar .flex ul li:hover ul li a{
   display: block;
}
.estate{
   text-decoration: none;
   color: white;
   font-size: 20px;
}
.nav3{
   padding-right: 0px;
}
.outerdiv{
   display: flex;
   flex-direction: row;
}
.innerdiv{
   
   color: white;
   display: flex;
   flex-direction: row;

}
.innerdiv li{
   padding: 15px;
   font-size: 20px;
   list-style: none;

}
a{
   color: white;
}

.innerdiv:nth-child(1){
   padding-left: 100px; 
}
.post{
    display: flex;
    justify-content: space-evenly;
    height: 500px;
 }
 .boxes{
    border: 2px solid black;
    height: 500px;
    width: 40%;
    background-color: #eee;
    
    text-align: center;
 }
 .boxes h1{
    font-size: 20px;
 }
 .box-content{
    margin-left: 1rem;
    margin-right: 1rem;
    color: black;
 }
 .box-content a{
    color: black;
 }
 .box-img{
    height: 400px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
 }

.footer{
    background-color: var(--black);
 }
 
 .footer .credit{
    padding: 3rem 2rem;
    text-align: center;
    border-top: var(--border);
    font-size: 2rem;
    color: var(--white);
    margin-top: 2rem;
 }
 .credit span{
    color: #DA2C32;
 }
 
 

